<article class="message is-info">
  <div class="message-header">
    {{card.title}}
    <p class="is-pulled-right">
      {{card.estimate}}
      <span class="clock-icon"></span>
    </p>
  </div>
  <div class="message-body">
    <div class="select is-info is-small is-pulled-right">
      <select value="{{card.state}}" (change)="changeState($event, card)">
        <option>Planned</option>
        <option>In Progress</option>
        <option>Done</option>
      </select>
    </div>
    <p class="description">{{card.description}}</p>
  </div>
</article>

