<div id="{{title}}" class="state" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
  <app-total-hours [hours]="cards | filter: filterByState | sum:'estimate'"></app-total-hours>
  <h3 class="title">{{title}}</h3>
  <section class="cards">
    <div *ngFor="let card of cards | filter: filterByState" class="card" id="{{card.id}}">
			<div draggable="true" (dragstart)="onDragStart($event, card)">
        <app-card [card]="card"></app-card>
      </div>
    </div>
		<div *ngIf="!(cards| filter: filterByState) || (cards| filter: filterByState).length <=0" class="no-cards">
			<p>No cards</p>
		</div>
  </section>
</div>
